*{
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: space-around;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 23px;
}
.navbar_content{
    display: flex;
}
.navbar_content a{
    padding: 15px 20px;
}
.logo a{
    font-size: 40px;
}
.cards{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    width: 300px;
    height: 200px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin:10px;
}
.card p{
    color:white;
}
.card-img{
    display: flex;
    width:100%;
    height: 90%;
}
.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.card-content{
    display: flex;
    width: 100%;
    justify-content: center;
}
.create{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.create input{
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
    width: 50%;
    padding:10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.create input:focus{
    border-bottom: 1px solid rgb(15, 196, 15);
}

.create button{
    background-color: #26a69a;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 20px 50px;
    font-size:20px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.delete_btn{
    color: red;
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}